.table_item {
    border: 1px solid;
    padding: 5px;
}

.table_heading {
    padding: 5px;
    font-weight: bold;
}

.notice {
    font-size: small;
    display: none;
}

input {
    padding: 5px;
    margin-bottom: 10px;
}